<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/form.css">
    <title>New Message</title>
</head>
<body>
    <div class="page-container">
        <h1>Enter Your Message</h1>
        <div class="page">
            <form action="/new" method="POST">
                <label for="user">Name: </label>
                <input type="text" name="user" for="user">
                <label for="message">Message:  </label>
                <input type="text" name="message" for="message">
                <button type="submit">Send Message</button>
            </form>
        </div>
    </div>
</body>
</html>